.conman {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .shape1 {
    position: absolute;
    top: 20%;
    z-index: -9999;
  }

  .mainhero {
    display: flex;
    //min-height: 50vh;
    max-width: 100%;

    .hero {
      position: absolute;
      top: -60px;
      right: -97px;
      z-index: -9999;
      max-width: 100%;
      height: auto;
      display: block;
    }

    .center {
      display: flex;
      flex-direction: column;
      //height: 100vh;
      //align-items: center;
      width: 1200px;
      max-width: 90%;
      margin: 0 auto;

      .centertext {
        text-align: left;
        width: 850px;
        max-width: 90%;
        h1 {
          font-size: 5rem;
          margin-bottom: 1rem;
          margin-top: 0;
        }

        p {
          max-width: 600px;
          line-height: 1.2rem;
          font-size: 1.1rem;
        }
        a {
          display: block;
          font-size: 1.3rem;
          text-decoration: none;
          background-image: linear-gradient(42deg, #00b0f4 0%, #01e9d7 100%);

          color: #fff;
          letter-spacing: 1px;
          padding: 1rem 2rem;
          border: none;
          width: fit-content;
          border-radius: 20px;
        }

        .flex {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          flex: 1;

          h4 {
            font-size: 1.5rem;
            margin-bottom: 0;
          }

          ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            margin-left: 0;
            padding-left: 0;

            li {
              margin-bottom: 0.5rem;
              font-size: 1.2rem;
            }
          }

          div {
            margin: 0 2rem;
          }
        }
      }
    }
  }
}

.overview {
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    //text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
  }
  p {
    line-height: 1.3rem;
  }
}

.timeline {
  //Colors
  $black: #34435e;
  $white: #ffffff;

  .timecon {
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  h2 {
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #00b0f4 0%, #01e9d7 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: $black;

    //numbers
    &:before {
      content: counter(section);
      position: absolute;
      border-radius: 50%;
      padding: 10px;
      height: 3rem;
      width: 3rem;
      background-color: $black;
      text-align: center;
      line-height: 1.25em;
      color: $white;
      font-size: 1em;
    }
  }
  //odd number borders
  p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;

    &:before {
      left: 100%;
      margin-left: -20px;
    }
  }
  //even number borders
  p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;

    &:before {
      right: 100%;
      margin-right: -20px;
    }
  }
  //handle first and last
  p:first-child {
    border-top: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 0;
  }
  p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
