.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 90vh;
}

.label {
  color: #fff;
}

.btn {
  background-color: aqua;
  display: block;
  font-size: 1.3rem;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  border-color: transparent;
  color: #fff;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-weight: bold;
  background-image: linear-gradient(42deg, #00b0f4 0%, #01e9d7 100%);

  &:hover {
    cursor: pointer;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #0c0c0c;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;

  h3 {
    color: #fff;
  }

  .box {
    position: relative;
  }

  input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
}
